{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous"/>
    <!-- icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"/>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>کالری شمار آنلاین</title>
  </head>
  <body dir="rtl">
    <!-- navbar -->
    <div class="shadow fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark" data-bs-theme="dark">
        <div class="container-xl py-1">
          <a class="navbar-brand" href="{% url 'home' %}">
            <i class="bi-egg"></i>
          کالری شمار آنلاین</a>
          <button class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarsExample07XL"
                  aria-controls="navbarsExample07XL"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample07XL">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">صفحه اصلی</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">درباره من</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'fooditem_list' %}">لیست غذا ها</a>
                </li>
              {% endif %}
            </ul>
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}" class="btn loginbtn mx-3"><i class="bi-box-arrow-left"></i> خروج از حساب</a>
              <a href="{% url 'profile' %}" class="btn registerbtn"><i class="bi-person-circle"></i> سلام {{ user.username }}!</a>
            {% else %}
              <a href="{% url 'login' %}" class="btn loginbtn mx-3"><i class="bi-box-arrow-in-right"></i> ورود</a>
              <a href="{% url 'signup' %}" class="btn registerbtn"><i class="bi-person-plus"></i> ثبت نام</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>
    <div style="padding-top: 60px;">
      {% block content %}
      {% endblock content %}
    </div>
    <!--footer-->
    <div class="container" dir="ltr">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/"
             class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 698.68 236.69"
                 class="d-block mx-lg-auto img-fluid"
                 alt="caloriecounter"
                 loading="lazy"
                 width="40"
                 height="30"
                 style="opacity: 60%">
              <defs><style>.cls-1{fill:#0f0f0f;}</style></defs>
              <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_2-2" data-name="Layer 2">
              <path class="cls-1" d="M580.34,0h-187L281.11,194.8H119v0h-1.64a76.45,76.45,0,0,1,1-152.89H256.59L231.93,85,218.8,107.94h48.26L328.79,0H119.87c-.51,0-1,0-1.53,0-1,0-2.1,0-3.15.05h0l-2.58.1c-1.73.09-3.44.21-5.15.36s-3.4.34-5.08.57A118.43,118.43,0,0,0,5.71,82Q4.16,86.7,3,91.61a.38.38,0,0,0,0,.1c-.67,2.87-1.22,5.75-1.66,8.68a118.24,118.24,0,0,0-1.36,18c0,.92,0,1.83,0,2.73,0,.54,0,1.1.05,1.64.06,1.38.12,2.73.22,4.09.06.76.11,1.51.19,2.25a.33.33,0,0,0,0,.14c.09.83.17,1.66.26,2.47a1.73,1.73,0,0,0,0,.32c.08.73.17,1.46.27,2.17,0,.24.07.49.1.73.1.73.21,1.45.32,2.18q.44,2.59.94,5.14c.35,1.72.74,3.45,1.18,5.16s.9,3.36,1.39,5c.25.83.51,1.66.78,2.47.59,1.85,1.24,3.68,1.93,5.49a118.36,118.36,0,0,0,109.13,76.33,4.57,4.57,0,0,0,.74,0c.26,0,.53,0,.78,0,.51,0,1,0,1.53,0H305.31L417.56,41.89H580.34a76.46,76.46,0,0,1,0,152.91H441.56l37.78-66.05H431.08L369.36,236.67h211.5A118.33,118.33,0,0,0,580.34,0Z"/>
              </g>
              </g>
            </svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted" style="font-family: arial;">© 2023 Moein Hedayati</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-muted" href="https://github.com/Moein-HDi"><i class="bi bi-github fs-5"></i></a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
  <!-- scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
</html>
