{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5 w-75">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="text-center">حذف غذا</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <p>آیا از حذف "{{ fooditem.name }}" مطمئنید؟</p>
                    <button class="btn btn-danger ml-2" type="submit">بله، حذف شود</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
